@{
    /*category navigation*/
    var categoryNavigation = await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = ViewBag.CurrentCategoryId, currentProductId = ViewBag.CurrentProductId });

    /* manufacturer navigation*/
    var manufacturerNavigation = await Component.InvokeAsync("ManufacturerNavigation", new { currentManufacturerId = ViewBag.CurrentManufacturerId });

    /* recently viewed products block*/
    var recentlyViewedProductsBlock = await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 111 });

    /* popular tags block*/
    var popularProductTags = await Component.InvokeAsync("PopularProductTags");

    /* polls block*/
    var pollBlock = await Component.InvokeAsync("PollBlock", new { systemKeyword = "LeftColumnPoll" });

    /* vendor navigation*/
    var vendorNavigation = await Component.InvokeAsync("VendorNavigation");
}

@await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_top" })

<div class="blocks-wrapper">
    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_before" })
    @if (!string.IsNullOrEmpty(categoryNavigation.ToHtmlString()))
    {
        <div class="block block-category-navigation">
            <div class="title">
                <strong>@T("Categories")</strong>
            </div>
            @categoryNavigation
        </div>
    }

    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_after_category_navigation" })

    @if (!string.IsNullOrEmpty(manufacturerNavigation.ToHtmlString()))
    {
        <div class="block block-manufacturer-navigation">
            <div class="title">
                <strong>@T("Manufacturers")</strong>
            </div>
            @manufacturerNavigation
        </div>
    }

    @if (!string.IsNullOrEmpty(recentlyViewedProductsBlock.ToHtmlString()))
    {
        <div class="block block-recently-viewed-products">
            <div class="title">
                <strong>@T("Products.RecentlyViewedProducts")</strong>
            </div>
            @recentlyViewedProductsBlock
        </div>
    }

    @if (!string.IsNullOrEmpty(popularProductTags.ToHtmlString()))
    {
        <div class="block block-popular-tags">
            <div class="title">
                <strong>@T("Products.Tags.Popular")</strong>
            </div>
            @popularProductTags
        </div>
    }

    @if (!string.IsNullOrEmpty(pollBlock.ToHtmlString()))
    {
        <div class="block block-poll">
            <div class="title">
                <strong>@T("Polls.Title")</strong>
            </div>
            @pollBlock
        </div>
    }

    @if (!string.IsNullOrEmpty(vendorNavigation.ToHtmlString()))
    {
        <div class="block block-vendor-navigation">
            <div class="title">
                <strong>@T("Vendors")</strong>
            </div>
            @vendorNavigation
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_after" })
</div>

@await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_bottom" })