@model SocialModel

@using Nop.Core
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var instagramUrl = settingService.GetSettingByKey("pacificthemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = settingService.GetSettingByKey("pacificthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("pacificthemesettings.vimeourl", String.Empty, storeId, true);
}

<ul class="social-sharing">
    @if (!String.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a target="_blank" rel="noreferrer" class="facebook" href="@Model.FacebookLink">
		<img src="../Themes/Pacific/Content/img/facebook.png" height="30" alt="socialicon">
		<span>Facebook</span></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a target="_blank" rel="noreferrer" class="twitter "  href="@Model.TwitterLink"><img alt="socialicon" src="../Themes/Pacific/Content/img/twitter.png" height="30">
		<span>twitter</span></a></li>
    }
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li><a target="_blank"  rel="noreferrer"  class="pinterest font-0" href="@pinterestUrl">pinterest</a></li>
    }
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li><a target="_blank" rel="noreferrer"  class="vimeo font-0" href="@vimeoUrl">vimeo</a></li>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li><a target="_blank" rel="noreferrer" class="instagram " href="@Model.YoutubeLink"><img alt="socialicon" src="../Themes/Pacific/Content/img/instagram.png" height="30">
		<span>instagram</span></a></li>
    }
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li><a target="_blank" rel="noreferrer" class="instagram font-0" href="@instagramUrl">instagram</a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li><a target="_blank" class="rss "  rel="noreferrer" href="https://www.linkedin.com/feed/"><img alt="socialicon" src="../Themes/Pacific/Content/img/linkdin.png" height="30">
		<span>linkdin</span>
		</a></li>
    }
</ul>